/* Your CSS code goes in this file. */

/* h1 { font-family: "Arial" } */
/* h1 { font-family: "Times New Roman" } */

/* h1 {
  border: solid 10px black;
  margin: 100px;
  padding: 50px;
} */

menu {
  max-width: 10%
}

body {
  font-family: "Arial";
  max-width: 90%;
  margin: 20px auto;
}

/* h1 { color: red;  border: solid 5px black;   } */
/* .important { background-color: yellow; font-size: 22px; } */

div {
  border: solid 5px white;
  padding: 20px;
  width: 96%;
}

span {
  border: solid 2px gray;
  padding: 10px;
  display: inline-block;
  width: 28%;
}

img {
  max-width: 90%
}
